apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: stocks-manager
  labels:
    app: nginx
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 31322