apiVersion: apps/v1
kind: Deployment
metadata:
  name: capital-deployment
  namespace: stocks-manager
  labels:
    app: capital-gains
spec:
  replicas: 1
  selector:
    matchLabels:
      app: capital-gains
  template:
    metadata:
      labels:
        app: capital-gains
    spec:
      containers:
      - name: capital-gains
        image: capital-gains:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        